.footer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: fit-content;
    padding-bottom: 75px;

    .title {
        width: 300px;
    }

    .columns {
        display: grid;
        grid-template-columns: 20% 50% 20%;
        justify-content: space-between;
        padding-bottom: 25px;
        
        .column {

            &.location {
                display: flex;
                flex-direction: column;
                gap: 50px;
                width: 160px;
            }

            &.contact {
                display: flex;
                flex-direction: column;
                gap: 35px;
            }

            &.socials {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }

    .terms-services {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .links {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }
}